<footer class="footer">
	<small>
		<a href="http://4.bp.blogspot.com/-oGuGlDLNMEU/UA4_NhkF9VI/AAAAAAAABy0/2z3UH7oQ5ww/s1600/IMG_20120722_230045-765789.jpg">These pants?</a> ARE MINE!
	</small>
	<nav>
		<ul>
			<li><%= link_to "PANTS", articles_path %></li>
			<li><%= link_to "More Pants", new_article_path %></li>
			<li><a href="http://images.cheezburger.com/completestore/2010/2/19/129111063957048309.jpg">GET OUT</a></li>
		</ul>
	</nav>
</footer>